<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Posts</title>
</head>
<body>
    <header>
        <h1>Quora Posts</h1>
    </header>
    <div>
        <% if (posts.length > 0) { %>
            <% for (let post of posts) { %>
                <div>
                    <h3>@ <%= post.username %></h3> 
                    <h4><%= post.title %></h4>
                    <div>Posted on: <%= post.timestamp %></div>
                    <div>
                        <a href="#">Like (<%= post.likes %>)</a>
                        <a href="#">Comment</a>
                    </div>
                </div>
            <% } %>
        <% } else { %>
            <p>No posts available.</p>
        <% } %>
        <div>
            <a href="/posts/new">Create a New Post</a>
        </div>
    </div>
</body>
</html>
