<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Post</title>
</head>
<body>
    <h2>Here is your all post in detail</h2>
    <p>Username: <%= post.username %></p>
    <p>Title: <%= post.title %></p>
    <a href="/posts">Back to All Posts</a>
</body>
</html>